conf/auth/
conf/*conf
downloads/raw/*
downloads/formatted/*
log/

*.gem
Gemfile.lock
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
vendor/ruby

# IDE artifacts
.project
