client:
  issuer_id : 'your issuer id'
  consumer_key : 'your consumer key'
  consumer_secret : 'your consumer secret'
  certificate_path : '/path/to/your/certificate/key/relative/to/program/directory'
  
customer:
  customer_id: 'your customer id'
